.items{
    display: inline !important;
}
.menu{
    display: inline;
}

.article{
    margin-left: 10px;
    margin-right: 10px;
    
}

body{
    background-color: grey !important
}

.item{
    margin-top: 30px !important;
}