.items{
    display: inline !important;
}
.menu{
    display: inline;
}

.article{
    margin-left: 10px;
    margin-right: 10px;
    
}

.item{
    margin-top: 30px !important;
}

/* Navbar */

.navbar{
    background-color: #23303e;
    border-radius: 0px !important;
    padding-bottom: 15px !important;
    padding-top: 15px !important;
    margin-right: -15px;
    margin-left: -15px;
}

.navbar-brand{
    color: whitesmoke;
    text-decoration: none;
    font-size: 30px !important
}

.navbar-brand:hover{
    color: whitesmoke;
}
.open{
    margin-right: 1em;
    margin-top: 0.5em;
    transform: rotate(-10deg)
}

.cart:hover{
    text-decoration: none;
}

.cartIcon{
    margin-top: 0.25em;
    margin-right: 0.25em;
    color:whitesmoke !important
}


.cartBadge{
    color:black;
    padding:2px;
    padding-left: 4px;
    padding-right: 4px;    
    border-radius: 50%;
    background-color: #FDBD68;
    vertical-align: top;
    font-size: 13px
}

.cartIcon:hover{
    color: #3CA8CD !important
}


/* tags */

aside{
    margin-top: 2em;
    border-right: 1px solid lightgrey;
    padding-right: 3em;
}

.tagTitle{
    color: grey !important
}

.tagList{
    list-style-type: none;
    padding-left: 1em;
}

.tagLabel{
    margin-left: 5px;
    font-size: 14px;
}

input:hover{
    cursor: pointer;
}

label:hover {
    background:white;
    cursor:pointer;
}

.main{
    display: inline-flex;
}




