/* Navbar */

.navbar{
    background-color: #23303e;
    border-radius: 0px !important;
    padding-bottom: 15px !important;
    padding-top: 15px !important;
    margin-right: -15px;
    margin-left: -15px;
}

.navbar-brand{
    color: whitesmoke;
    text-decoration: none;
    font-size: 30px !important
}

.navbar-brand:hover{
    color: whitesmoke;
}
.open{
    margin-right: 1em;
    margin-top: 0.5em;
    transform: rotate(-10deg)
}

.navbar-brand{
    line-height:12px;
}

.navbar-brand small {
    display:block;
    margin-top: 1em;
    font-size:12px;
  }

.slogan{
    color:lightgray;
    font-size:12px;
}

.cart:hover{
    text-decoration: none;
}

.cartIcon{
    margin-top: 0.25em;
    margin-right: 0.25em;
    color:whitesmoke !important
}

.shoppingCartText{
    text-decoration: none !important;
    color: whitesmoke !important;
    font-size: 12px;
}


/* tags */

aside{
    margin-top: 2em;
    margin-right: 2em;
    border-right: 1px solid lightgrey;
    padding-right: 1em;
    height: 100vh !important;
    padding-right: 5em;
}

.tagWrapper{
    display: inline-flex !important; 
}

.tagTitle{
    color: grey !important
}

.tagList{
    list-style-type: none;
    padding-left: 1em;
}

.tagLabel{
    margin-left: 0.2em;
    vertical-align: center;
    font-size: 14px;
}

input:hover{
    cursor: pointer;
}

label:hover {
    background:white;
    cursor:pointer;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-color: white;
    background-image: none;
  }
  /* Custom Select */
  select {
    line-height: 3;
    background: white;
    overflow: hidden;
    border-radius: .25em;
    color: grey;
    cursor: pointer;
    font-size: 12px !important;
    padding-left: 16px;
  }

  /* Arrow */
  
  /* Transition */
  .select:hover::after {
    color: #f39c12;
  }

  .select::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
    content: '\25BC';
    font-size: 12px !important;    
    pointer-events: none;
  }


/* Main */

.main{
    display: inline-flex !important;
    width: 100%
}


/* item */
.items{
    margin-top:2em;
    margin-bottom:2em;    
}

.item{
    margin: 1em;
    padding: 2em;
    border: 1px solid lightgrey;
}

.itemTag{
    font-style: italic;
    font-size: 12px;
    color: lightgrey
}

.itemName{
    margin-top: 0.5vh;
    font-size: 14px;
    font-weight: bold
}

.fa-star{
    color: #FDBD68;
}

.starBlack{
    color: #6e6e6e;
}

/* itemDetail */

.itemDetailImage{
    text-align: center;
    margin:1em 0em 1em 0em;
}

.itemDetailDescription{
    background-color: #F8F8F8;
    padding: 1em;
}

.fa-itemDetail{
    margin-right: 1em;
}

.addToCartBtn, .checkoutBtn{
    margin-right: 1em;
    background-color:#24303D !important;
    border:1px solid #24303D !important
}

.itemDetailIcons{
    margin-left: 1em;
    margin-top: 1em;
    font-size:14px;   
    
}

.itemDetailIcons p {
    color: #6e6e6e;
}

.itemDetailDescritionText{
    color: #6e6e6e;
    margin-left: 1em;
    font-size:14px;   
}

.itemDetailTitle{
    font-size: 16px;
    margin: 1em 0em 1em 0em;
}

.backButton{
    background-color:#FDBD68 !important;
    color: white;
}

.backButton:hover{
    color: white
}

/* checkout */
.itemThumbnail{
    width: 3em;
    height: 3em;
}

thead{
    font-size: 16px;
}

thead tr{
    background-color: #F8F8F8
}

tbody{
    color:#6e6e6e;
    font-size:14px
}

table td{
    vertical-align: middle !important;
}

.btn-circle {
    width: 20px !important; 
    height: 20px !important;
    padding: 1px 0px !important;
    border-radius: 50% !important;
    text-align: center !important;
    font-size: 12px !important;
    line-height: 1.42857 !important;
    background-color: red !important;
    border-color:red !important
  }

  .checkoutItemTitle{
      vertical-align: middle;
      
  }

  .checkoutItemLink{
      text-decoration: none;
      font-size: 14px;
      font-style: italic;
      color:#6e6e6e;
      padding-left: 1em;
  }


  .orderTitle{
      margin: 1em 0 1em 0;
  }

  .checkoutBtn{
      margin-left: 1em;
  }

  .emptyCart{
      text-align: center;
      position: fixed;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  }

  .backButtonEmptyCart{
      margin-top: 1em;
  }

  .fa-shopping-cart{
      margin-right: 0.5em;
  }

.coverPage{
    width: 100vw !important;
    height: 100vh !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    text-align:center   
}

.tr{
    width: 23em;
    height: 22em;
    border-radius: 50%;
}

.coverPageLink{
    color:lightgrey;
    margin: 0 1em 0 1em;
}

.coverPageLink:hover{
    color: rgb(173, 216, 230);
}
.coverPageLink::after{
    -webkit-transition: color rgb(173, 216, 230) .25s all ease;
    -o-transition: color rgb(173, 216, 230) .25s all ease;
    transition: color rgb(173, 216, 230) .25s all ease;
}